/*Might want to set defaults or blow them out. e.g margin:0,  padding: 0*/
:root {
    --main-box-color: #bda0eb;
    --main-text-color: hsla(0, 0%, 100%, 0.863); 
    --main-title-color: rgb(231, 203, 203);
    --main-bg-color: rgb(48, 45, 45); 
    
}

html {
    background-color: var(--main-bg-color); /*Custom background color*/ 
    color: var(--main-text-color, wheat);          /*Custom white text*/ 
    font-family: "Oswald", sans-serif;      /*Custom Font*/ 
    font-size: 18px;
}

header {
    background-color:var(--main-box-color);
    color: var(--main-text-color);
    text-align: center;
    font-size: 1.5em;
    border-radius: 1rem;
}

#navigationBar > a {
    color: #f3f05c;
    padding: 2px 12px; /*size*/;
    font-size: 2pc;
    text-align: center;
    text-decoration: none;
    
}

#navigationBar > a:hover {
    box-shadow: 2px 2px 5px;
}

#navigationBar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

#report {
    color: color-mix(in lch, rgb(114, 44, 44), rgb(18, 210, 235));
}

form fieldset button {
    color: white;
    background-color: rgb(66, 62, 62);
    padding: 2px 12px; /*size*/;
    font-size: .5cm;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form fieldset button:active {
    color: white;
    background-color: rgb(66, 62, 62);
    padding: 2px 12px; /*size*/;
    font-size: .45cm;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    color: color(display-p3 3 1 3);
}
