/*Might want to set defaults or blow them out. e.g margin:0,  padding: 0*/
:root {
    --main-box-color: #bda0eb;
    --main-text-color: hsla(0, 0%, 100%, 0.863); 
    --main-title-color: rgb(231, 203, 203);
    --main-bg-color: rgb(48, 45, 45); 
    
}

html {
    background-color: var(--main-bg-color); /*Custom background color*/ 
    color: var(--main-text-color, wheat);          /*Custom white text*/ 
    font-family: "Oswald", sans-serif;      /*Custom Font*/ 
    font-size: 20px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

#recording {
    grid-row-start: 2;
    grid-column-start: 2;
}

header {
    background-color:var(--main-box-color);
    color: var(--main-text-color);
    text-align: center;
    font-size: 1.5em;
    border-radius: 1rem;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    position: static;
}

h4 + ul {
    color: pink;
}

h2 ~ h3 {
    color: purple;
}

#navigationBar > a {
    color: #f3f05c;
    padding: 5px 10px 10px 10px; /*size*/;
    margin-left: 1em;
    font-size: 3pc;
    text-align: center;
    text-decoration: none;
}

#screenPal {
    position: absolute;
    top: 20px;
    text-align: right;
}

#navigationBar > a:hover {
    box-shadow: 2px 2px 5px;
}

#navigationBar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

#media > picture > img {
    max-width: 50rem;
    max-height: 50rem;
    min-width: 200px;
    min-height: 200px;
}


#absent {
    font-size: .8em;
    color: gray;
}


li[class="excused"] {
    color: greenyellow;
}

#report {
    color: color-mix(in lch, rgb(114, 44, 44), rgb(18, 210, 235));
    width: 300px;
    height: 100px;
    margin: 1px;
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left:10px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    text-align: left;
}

.formtext * {
    color: var(--main-title-color);
}

section:has(form) {
    background-color: var(--main-bg-color); /*changes form color and more*/
}_

input.name {
    color: aqua;
}

form fieldset button {
    color: white;
    background-color: rgb(66, 62, 62);
    padding: 2px 12px; /*size*/;
    font-size: .5cm;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form fieldset button:active {
    color: white;
    background-color: rgb(66, 62, 62);
    padding: 2px 12px; /*size*/;
    font-size: .45cm;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




form > fieldset label,input {
    display: inline-block;
}

#hidden {
    display: none;
}

footer {
    color: color(display-p3 3 1 3);
    width: 4vw;
}

/*Responsiveness here*/

@media screen and (max-width: 1000px) {
    :root {
        display: block;
    }

    header {
        display: block;
    }

    #attendance {
        display: block;
    }

    #agenda {
        display: block;
    }

    #media {
        display: block;
    }

    #feedback {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    :root {
        display: block;
    }

    header {
        display: block;
    }

    #attendance {
        display: block;
    }

    #agenda {
        display: block;
    }

    #media {
        display: block;
    }

    #feedback {
        display: none;
    }
}